<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12"></div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="jumbotron" style="margin-top: 75px">
        <h1>Welcome</h1>
        <p>
            Salesforce Outbound Messages Echo is an application that echos outbound messages received 
            from Salesforce.
        </p>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12"></div>
</div>
