<div class="container" id="top_container">
    <div class="row" id="selectors">
        <div class="col-lg-12 col-md-12 col-sm-12 some-button-bar">
            <button type="button" id="clear" class="btn btn-danger float-right">Clear</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 clear-float"></div>
            <div class="some-bordered-box some-max-height">
                <pre id="socketOutput" class="m-2 some-max-height" style="overflow-x: scroll; overflow-y: scroll; ">
                </pre>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/messages.js"></script>
